{% extends "base.html" %}

{% block meta %}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                <p class="blog-post-meta">
                    {{ article.locale_date }} por {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
                <hr />
                <div class="post-content">
                    {{ article.content }}
                </div>
            </div>
        </div>
    </div>
    <hr />
    {% include "includes/disqus.html" %}
{% endblock %}
