<html lang="{{ DEFAULT_LANG }}">

<head>
<meta charset="UTF-8" />
<title>{{ SITENAME }}</title>
<link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" />

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
{% endblock %}
</head>

<body>

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ SITEURL }}">
                <img class="logo" alt="PyLadies Logo" src="{{ STATIC_URL }}img/logo.svg">
            </a>
        </div>
        <!-- NAVIGATION BAR -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for item in MENU %}
                <li>
                    <a class="{{ item.css_class }}" href="{{ item.url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- END: NAVIGATION BAR -->
    </div>
</nav>
{% endblock %}

{% block content %}{% endblock %}

<footer class="footer">
    <div class="container">
        <p>©2015 <a href="http://duquedecaxias.pyladies.com">PyLadies Duque de Caxias</a>. Todos os direitos reservados. Tema desenvolvido por <a href="http://www.paulagrangeiro.com.br/">@pgrangeiro</a>.</p>
        <p>PyLadies Duque de Caxias é parte do <a href="http://www.pyladies.com/" target="_blank">PyLadies</a>. PyLadies e o logo PyLadies são marcas registradas da <a href="https://www.python.org" target="_blank">Python Software Foundation</a>.</p>
    </div>
</footer>

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
