{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="theme/css/font-awesome.min.css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5">
        <img src="theme/img/pyladies.png" />
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7">
        <h2>print ('Welcome!')</h2>
        <h3>Bem vindo ao site da comunidade PyLadies de Duque de Caxias</h3>
        <p>PyLadies é um grupo internacional de mentoria com foco em ajudar mais e mais mulheres a se tornarem participantes ativas e líderes na comunidade open-source Python. Nossa missão é impulsionar a diversidade na comunidade através da sensibilização, educação, conferências, eventos e reuniões sociais.</p>
        <p>Também visamos prover uma rede de suporte amigável e uma ponte para as mulheres entre o imenso mundo Python. Qualquer um com interesse em Python é encorajado a participar!</p>
        <ul class="icon-links">
            <li>
                <a href="mailto:duquedecaxias@pyladies.com" target="_top" title="Envie-nos um email"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/PyLadiesCaxias" target="_blank" title="Siga-nos no Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://goo.gl/zeBpB9" target="_blank" title="Curta nossa página no Facebook"><i class="fa fa-facebook-official"></i></a>
            </li>
            <li>
                <a href="https://github.com/pyladies-dcaxias" target="_blank" title="Acompanhe-nos no GitHub"><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="row post-list">
    {% for article in articles_page.object_list %}
        <p></p>
        {% include "includes/article-summary.html" %}
    {% endfor %}
</div>

{% if articles_page.has_other_pages() %}
    {% include "includes/pagination.html" %}
{% endif %}

{% endblock %}
