{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" />
{% endblock %}

{% block content %}
<div id="content" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-5">
            <p><img class="center-block" src="{{ STATIC_URL }}img/pyladies.png" /></p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-7">
            <h2 id="about">print('Welcome!')</h2>
            <p class="text-justify">PyLadies é um grupo internacional de apoio à diversidade. Nosso objetivo é ajudar mais e mais <i>mulheres</i> a tornarem-se membros ativas da comunidade Python. Promovemos workshops, palestras, encontros sociais inclusivos onde todos os interessados em conhecer um pouco mais sobre a linguagem Python são convidados a participar.</p>
            <p class="text-justify">O PyLadies Duque de Caxias surgiu como um grupo de apoio às <i>mulheres</i> que são profissionais da área tecnológica ou possuem algum interesse no assunto na região. Nós não fazemos distinção de cor, gênero ou idade e não é necessário ter conhecimento técnico para participar dos nossos eventos. Basta ter algum interesse em aprender e em compartilhar conhecimento para comparecer aos nossos encontros.</p>
            <ul class="icon-links">
                <li>
                    <a href="mailto:duquedecaxias@pyladies.com" target="_top" title="Envie-nos um email"><i class="fa fa-envelope"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/PyLadiesCaxias" target="_blank" title="Siga-nos no Twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://goo.gl/zeBpB9" target="_blank" title="Curta nossa página no Facebook"><i class="fa fa-facebook-official"></i></a>
                </li>
                <li>
                    <a href="https://github.com/pyladies-dcaxias" target="_blank" title="Acompanhe-nos no GitHub"><i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="events" class="row">
        <div class="col-lg-4">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=350&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vtnpeo5tlcuv0l4jdgq4bpfbn8%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FSao_Paulo" style="border-width:0" frameborder="0" scrolling="no"></iframe>
            </div>
            <h4 id="events">Eventos</h4>
            <p class="text-justify">Todos os nossos eventos são abertos ao público em geral. Não exigimos nenhum conhecimento técnico, qualquer pessoa com algum interesse em Python é encorajada a participar.</p>
            <p class="text-justify">Para saber sobre os próximos encontros do PyLadies no estado do Rio, siga-nos em nossas redes sociais ou adicione o nosso Google Calendar na sua agenda.</p>
        </div>
        <div class="col-lg-4">
            <p><img class="img-responsive" src="{{ STATIC_URL }}img/img01.jpg" /></p>
            <h4 id="support">Envolva-se!</h4>
            <p class="text-justify">Existem diversas maneiras de contribuir com nossa missão: através de divulgação, participando de nossos encontros, realizando doações de materiais ou em dinheiro. Caso você ou sua empresa queiram nos auxiliar, por favor entre em contato conosco através do nosso email <a href="mailto:duquedecaxias@pyladies.com" target="_top">duquedecaxias@pyladies.com</a>.</p>
            </p>
            <p>
                <form class="text-center" action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                    <input type="hidden" name="currency" value="BRL" />
                    <input type="hidden" name="receiverEmail" value="pgrangeiro.dev@gmail.com" />
                    <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/120x53-doar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </form>
            </p>
        </div>
        <div class="col-lg-4">
            <p><img class="img-responsive" src="{{ STATIC_URL }}img/wordmark-dcaxias.png" /></p>
            <h4 id="support">Acompanhe nosso blog</h4>
            <p class="text-justify">Quer saber sobre os nossos últimos encontros? Novidades da comunidade Python? Siga-nos em nosso blog! Basta clicar <a href="https://medium.com/pyladies-duque-de-caxias">aqui</a>.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
