<div class="col-lg-4 col-md-3 col-sm-2">
    <div class="blog-post">
        <h2 class="blog-post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        <p class="blog-post-meta">{{ article.locale_date }} por {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
        <hr />
        <div class="summary">{{ article.summary }}</div>
        <a class="link-more" href="{{ SITEURL }}/{{ article.url }}">Ler mais&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a>
    </div>
</div>
